/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-Italic.ttf');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-SemiBold.ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-SemiBoldItalic.ttf');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-ExtraBold.ttf');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Exo 2';
    src: url('../fonts/Exo2-ExtraBoldItalic.ttf');
    font-weight: 800;
    font-style: italic;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

ul {
    list-style-type: none;
}

/* GENERAL STYLES */
:root {
    --main-brown: #572F00;
    --main-yellow: #F8D24A;
    --white: #fff;
}

body {
    font-family: 'Exo 2', sans-serif;
    line-height: 1.5;
}

button {
    padding: 1rem 1.5rem;
    border-radius: 2rem;
    border: none;
    background-color: var(--main-yellow);
    color: var(--main-brown);
    font-weight: 600;
}

.container {
    width: 80%;
    margin: 0 auto;
}

/* NAVIGATION */
header {
    background-color: var(--main-brown);
    padding: 0.5rem 0;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-items {
    display: flex;
    gap: 5rem;
    color: var(--white);
    font-weight: 600;
    font-size: 1.25rem;
}

/* MAIN SECTION */
main {
    height: calc(100vh - 72px);
    display: grid;
    place-items: center;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
}

.burger-image {
    height: auto;
}

.hero-text {
    font-size: 8rem;
    line-height: 1;
    margin-bottom: 1.5rem;
}

